@import url('https://fonts.googleapis.com/css?family=Arimo');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Arimo";
    background-color: rgb(0, 0, 0);
}

.mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.mainContent {
    width: 40%;
    height: 100%;
    background-color: #182A3B;
    margin-top: 10%;
}

.container {
    border-radius: 11px;
    margin: 50px;
}

.community {
    background-color: rgb(255, 253, 253);
    color: black;
    padding: 40px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.community h3 {
    color: rgb(0, 185, 175);
    font-weight: bold;
}

#moneyBack {
    color: rgb(102, 153, 0);
    font-weight: bold;

}

#description {
    color: rgb(153, 164, 189);
    font-weight: bold;
    font-size: small;
}

.gridTemplate {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto;
}

.card {
    background-color: rgb(15, 67, 66);
    color: black;
    padding: 20px;
    border-bottom-left-radius: 11px;
    color: white;
}

.card p {
    line-height: 3.6rem;
    font-weight: 100;
    font-size: medium;
}

.card div {
    display: flex;
    justify-content: space-evenly;
}

.card div h3 {
    font-size: x-large;
}

.card button {
    width: 12rem;
    height: 2rem;
    color: white;
    background-color: rgb(102, 153, 0);
    border: none;
    font-size: larger;
    border-radius: 10px;
}

.why-us {
    background-color: rgba(85, 145, 142, 0.698);
    padding: 40px;
    border-bottom-right-radius: 11px;
    color: white;
}

.why-us {
    line-height: 1.3rem;
}

.why-us p {
    font-weight: 100;
    font-size: smaller;
}

@media screen and (max-width:1287px) and (min-width:480px) {
    .mainContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mainContent {
        width: 100%;
        height: 100%;
        margin-top: 10%;

    }

    .container {
        border-radius: 11px;
        margin: 0px;
    }

    .community {
        width: 100%;
        height: 100%;
        background-color: white;
        margin: 0px;
        padding: 40px;
    }

    .community h3 {
        color: rgb(0, 185, 175);
        font-weight: bold;
        font-size: 30px;
    }

    #moneyBack {
        color: rgb(102, 153, 0);
        font-weight: bold;
        font-size: x-large;

    }

    #description {
        color: rgb(153, 164, 189);
        font-weight: bold;
        font-size: large;
    }

    .gridTemplate {
        box-sizing: border-box;
        display: grid;
        grid-template-rows: auto auto;
    }

    .card {
        background-color: rgb(15, 67, 66);
        color: black;
        padding: 30px;
        border-bottom-left-radius: 11px;
        color: white;
    }

    .card p {
        line-height: 3.5rem;
        font-weight: 100;
        font-size: 25px;
    }

    .card div {
        display: flex;
        /* justify-content: cent; */
    }

    .card div p p{
        font-size: 25px;
    }

    .card div h3 {
        font-size: 30px;
    }

    .card button {
        width: 12rem;
        height: 2rem;
        color: white;
        background-color: rgb(102, 153, 0);
        border: none;
        font-size: x-large;
        border-radius: 10px;
    }

    .why-us {
        background-color: rgba(85, 145, 142, 0.698);
        padding: 40px;
        border-bottom-right-radius: 11px;
        color: white;
    }

    .why-us {
        line-height: 2rem;
    }

    .why-us h5{
        font-size: 30px;
    }

    .why-us p {
        font-weight: 100;
        font-size: 25px;
    }

}


@media screen and (max-width:479px) and (min-width:166px) {
    .mainContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mainContent {
        width: 100%;
        height: 100%;
        margin-top: 10%;

    }

    .container {
        border-radius: 11px;
        margin: 0px;
    }


    .community {
        width: 100%;
        height: 100%;
        background-color: white;
        color: rgb(0, 0, 0);
        margin: 0px;
        padding: 25px;
    }

    .community h3 {
        color: rgb(0, 185, 175);
        font-weight: bold;
        font-size: 30px;
    }

    #moneyBack {
        color: rgb(102, 153, 0);
        font-weight: bold;
        font-size: x-large;

    }

    #description {
        color: rgb(153, 164, 189);
        font-weight: bold;
        font-size: large;
    }


    .gridTemplate {
        box-sizing: border-box;
        display: grid;
        grid-template-rows: auto auto;
    }

    .card {
        background-color: rgb(15, 67, 66);
        color: black;
        padding: 5px;
        border-bottom-left-radius: 11px;
        color: white;
    }

    .card p {
        line-height: 2.5rem;
        font-weight: 100;
        font-size: 15px;
    }

    .card div {
        display: flex;
        justify-content: space-evenly;
    }

    .card div h3 {
        font-size: 20px;
    }

    .card button {
        width: 100px;
        height: 2rem;
        color: white;
        background-color: rgb(102, 153, 0);
        border: none;
        font-size: medium;
        border-radius: 10px;
    }

    .why-us {
        background-color: rgba(85, 145, 142, 0.698);
        padding: 30px;
        border-bottom-right-radius: 11px;
        color: white;
    }

    .why-us {
        line-height: 1.5rem;
    }

    .why-us h5{
        font-size: 20px;
    }

    .why-us p {
        font-weight: 100;
        font-size: 15px;
    }

}